@use "../variables"

.floating-nav
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  width: 60%
  margin: 10px auto


  span
    font-size: 1.8em
    font-family: variables.$serif
    cursor: pointer
    text-decoration-line: none
    transition-property: text-decoration

    &:hover
      text-decoration-line: underline


@media screen and (max-width: 1000px)
  .floating-nav
    width: 80%

@media screen and (max-width: 800px)
  .floating-nav
    width: 100%

@media screen and (max-width: 600px)
  .floating-nav
    flex-direction: column
    row-gap: 0.8em
    padding-top: 0.4em
    width: 100%
