@use "variables"
@use "sass:color"


html, body
  padding: 0
  margin: 0
  scroll-behavior: smooth
  letter-spacing: 0.02em

pre, code
  font-family: variables.$monospace
  font-weight: 300
  font-size: 0.98em

p
  line-height: 1.4

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box
