@use "variables"
@use "sass:color"

$sidebar-trans: 0.5s ease
$sidebar-trans-long: 1s ease
$page-margin: 10em

.main-page
  //overflow-x: hidden
  display: flex

.main-flex
  display: flex
  column-gap: 15ex


  .About
    min-width: 45%
    .title-bar
      h1
        font-size: 6em
    .dynamic-panel-1
      height: 0
    .social-container
      min-height: 8em


  .Experience
    min-width: 33%

    .title-bar
      h1
        font-size: 4em
    .dynamic-panel-1
      height: calc(100vh - 25em)
      margin-bottom: 1.8em
    .social-container * // Apply to all children
      transition: none

  .Projects
    min-width: 33%

    .title-bar
      h1
        font-size: 4em
    .dynamic-panel-1
      height: 0
      margin-bottom: 0
    .social-container * // Apply to all children
      transition: none

  .left-pane
    display: flex
    top: 0
    position: sticky
    color: variables.$text-main
    height: 100vh
    justify-content: left
    padding-left: $page-margin
    transition: min-width $sidebar-trans
    align-items: center


    .title-bar

      h1
        font-family: variables.$serif
        margin: 0 0 -0.15em 0
        font-weight: 600
        transition: font-size $sidebar-trans


      .social-container
        display: flex
        align-items: start
        justify-content: left
        row-gap: 0.8em
        column-gap: 0.8em
        flex-flow: row wrap
        overflow-x: clip


      .dynamic-panel-1
        font-family: variables.$sans-serif
        overflow: hidden
        transition: height $sidebar-trans-long, margin-bottom $sidebar-trans-long

        .education
          display: flex
          flex-direction: column
          row-gap: 1em

        > h1
          font-family: variables.$sans-serif
          font-size: 2.6em
          font-weight: 200
          margin-bottom: 0.4em
          text-transform: uppercase

  .content
    display: flex
    flex-direction: column
    flex-grow: 1
    padding-right: $page-margin


.title-screen
  height: 100vh
  display: flex
  justify-content: left
  align-items: center
  background-color: variables.$background-main
  font-family: variables.$sans-serif
  .blurb
    flex-direction: column
    font-size: 1.5em
    line-height: 1.25

.experience
  min-height: 90vh
  > h1
    font-family: variables.$sans-serif
    font-size: 3em
    font-weight: 300
    text-transform: uppercase

  background-color: variables.$background-main

.projects
  > h1
    font-family: variables.$sans-serif
    font-size: 3em
    font-weight: 300
    text-transform: uppercase

  &-container
    display: flex
    flex-direction: column
    gap: 1.6em



@media screen and (max-width: 1200px)
  $coeff: 0.8
  .main-flex
    .left-pane
      padding-left: $page-margin * $coeff
    .content
      padding-right: $page-margin * $coeff
    column-gap: 12ex

@media screen and (max-width: 1100px)
  $coeff: 0.55
  .main-flex
    .left-pane
      padding-left: $page-margin * $coeff
    .content
      padding-right: $page-margin * $coeff
    column-gap: 9ex


@media screen and (max-width: 1000px)
  $coeff: 0.4
  .main-flex
    .left-pane
      padding-left: $page-margin * $coeff
    .content
      padding-right: $page-margin * $coeff
    column-gap: 5ex

@media screen and (max-width: 900px)
  $coeff: 0.4
  .main-flex
    font-size: 0.88rem
    .left-pane
      padding-left: $page-margin * $coeff
    .content
      padding-right: $page-margin * $coeff
    column-gap: 5ex

@media screen and (max-width: 800px)
  $coeff: 0.3
  .main-flex
    font-size: 0.88rem
    .left-pane
      padding-left: $page-margin * $coeff
    .content
      padding-right: $page-margin * $coeff
    .About
      min-width: 33%
      .title-bar
        h1
          font-size: 5em
    column-gap: 5ex

// Mobile-friendly
@media screen and (max-width: 450px)
  .main-flex
    .dynamic-panel-1
      display: none
    flex-direction: column
    .left-pane
      display: flex
      top: unset
      position: unset
      color: variables.$text-main
      height: 100vh
      .title-bar
        h1
          font-size: 6em

    .content
      display: flex
      flex-direction: column
      flex-grow: 1
      padding-right: 2em
      padding-left: 2em
      .title-screen
        font-size: 0.95em
        height: unset
      .experience
        font-size: 1.15em