@use "variables"
@use "sass:color"

.main-page
  overflow-x: hidden

.title-screen
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
  background-color: variables.$independence
  text-align: center

  .title
    color: variables.$laurel-green

    hr
      width: 60%
      margin: 10px auto
      border-top: 1px solid variables.$laurel-green

    h1
      font-family: variables.$serif
      font-size: 6em
      margin: 15px 5px

    h2
      font-family: variables.$sans-serif
      margin: 0 10px 30px 10px
      font-weight: 500
      font-size: 2.3em


.section
  color: variables.$space-cadet

  &-inner

    padding: 4em 0
    width: min(70%, 80em)
    margin: 0 auto

    h1
      margin-top: 0
      font-family: variables.$serif
      font-size: 2.5em

.projects
  background-color: color.scale(variables.$beige, $lightness: 30%)


.about
  background-color: color.scale(variables.$beige, $lightness: 50%)

  &-container

    display: flex
    font-family: variables.$sans-serif
    gap: 3em

    font-size: 1.4em

    .summary
      flex-basis: 70%
      font-weight: 400
      line-height: 1.3

      p
        margin: 0 0

    .accounts
      font-weight: 600

      flex-basis: 30%
      flex-direction: column
      display: flex
      justify-content: center
      align-items: left

      span
        cursor: pointer
        display: flex
        flex-wrap: nowrap
        align-items: center

        padding: 10px 0

        svg
          padding-right: 10px
          font-size: 1.3em
          width: 1em

