$serif: "EB Garamond", serif
$sans-serif: "Manrope", sans-serif
$monospace: "IBM Plex Mono", monospace

//$tan: #d6c19aff
//$beige: #e7ecd7ff
//$laurel-green: #b5c0abff
//$independence: #56566fff
//$space-cadet: #2d2944ff

$background-main: white
$background-main-hover: #f0f0f0
$background-translucent-dark: #000000bb
$text-main: black
$text-muted: #6a6a6a
$text-light: #f0f0f0